---
server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://grafana.glade.ng:3100/loki/api/v1/push

scrape_configs:
  - job_name: syslog
    syslog:
      listen_address: 0.0.0.0:1514
      labels:
        job: "syslog"
        host: {{glade_host_name}}
    relabel_configs:
      - source_labels: ['__syslog_message_hostname']
        target_label: 'host'
  - job_name: journal
    journal:
      max_age: 12h
      labels:
        job: systemd-journal
        host: {{glade_host_name}}
    relabel_configs:
      - source_labels: ['__journal__systemd_unit']
        target_label: 'unit'
  - job_name: system
    pipeline_stages:
    static_configs:
    - labels:
       job: varlogs  # A `job` label is fairly standard in prometheus and useful for linking metrics and logs.
       host: {{glade_host_name}} # A `host` label will help identify logs from this machine vs others
       __path__: /var/log/*.log  # The path matching uses a third party library: https://github.com/bmatcuk/doublestar
  - job_name: apache
    static_configs:
    - labels:
       job: apache
       host: {{glade_host_name}}
       __path__: /var/log/apache2/*.log

  - job_name: glade_logs
    static_configs:
    - labels:
       job: glade_logs
       host: {{glade_host_name}}
       __path__: /opt/glade/logs/**.log
